.all-sect{
    background-color: #eeeeee;
    padding: 2em 0;
    margin: 2em 0;
}

.card.card-resouce p, .card-body p.card-text{
    color: #000 !important;
}
.section-lbl{
    font-size: 26px;
    font-weight: 500;

}
.card-resouce:hover , .cardshov:hover{
    background-color: #25276d !important;
    color: #fff !important;
}
.card-resouce:hover h5, .card-resouce:hover p , .cardshov:hover p ,.cardshov:hover h5{
    color: #fff !important;
 }
@media (min-width: 1200px) {
    .card-resouce{
    height: 165px;
    border: 0px !important;
}
}
@media (min-width:991.5px) and (max-width:1200px) {
 .card-resouce{
    height: 175px;
    border: 0px !important;
 }
}
@media (min-width:768px) and (max-width:991px) {
 .card-resouce{
    height: 230px;
    border: 0px !important;
 }
}
@media (max-width:768.5px) {
 .card-resouce{
    border: 0px !important;
 }
}

.bg-card{
    background-color: #eeeeee !important;
    color: #fff;
    border: 0px !important;
}
.nav-tabs .nav-link{
border: 1px solid transparent;
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
background: #25276d;
color: #fff;
}
.card-member:hover{
    background-color: #25276d !important;
    color: #fff !important;

 }
 .card-member:hover h5, .card-member:hover p{
    color: #fff !important;
 }
.card-member .card-title{
    margin-bottom: 0px !important;
}
.card-member .card-text{
    margin-bottom: 10px !important;
    line-height: 26px;
}
@media (min-width:1200.5px) {
 .card-member{
    height: 240px;
    border: 0px !important;
 }
 
}
@media (min-width:991.5px) and (max-width:1200px) {
 .card-member{
    height: 270px;
    border: 0px !important;
 }
}
@media (min-width:768px) and (max-width:991px) {
 .card-member{
    height: 421px;
    border: 0px !important;
 }
}
@media (max-width:768.5px) {
 .card-member{
    height: 270px;
    border: 0px !important;
 }
}

.bg-card{
    background-color: #eeeeee !important;
    color: #fff;
    border: 0px !important;
}

.card-text{
    color: #000 !important;
}
a {
 color: #ee1c23;
}
a:hover {
    text-decoration: none;
    color: #ee1c23;
}
.card{
    text-align: left;
}
.card-height:hover , .cardshov:hover{
    background-color: #25276d !important;
    color: #fff !important;
}
.card-height:hover h5,  .card-height:hover p , .cardshov:hover p ,.cardshov:hover h4{
    color: #fff !important;
 }
@media (min-width: 1200px) {
    .card-body .card-title{
    font-size: 22px !important;

}
    .card-height{
    height: 195px;
    border: 0px !important;
}


.card-commite{
    height: 150px;
}     
}
@media (min-width:991.5px) and (max-width:1200px) {
    .card-height{
    height: 350px;
    border: 0px !important;
}


.card-commite{
    height: 261px;
}    
}
@media (min-width:768px) and (max-width:991px) {
.card-height{
    height: 355px;
    border: 0px !important;
}


.card-commite{
    height: 272px;
}    
}
@media (max-width:768.5px) {
.card-height{
    border: 0px !important;
}


.card-commite{
    height: 150px;
}  
}
.primary-btn{
    background: #ee1c23;
    border: 0px;
    color: #fff;
}
@media (min-width: 1200px) {
    .web-fix{
        height: 170px;
    }
}